<style>
    a:link, a:visited {
        background-color: #03d61f;
        color: black;
        padding: 15px 25px;  /* this is the space between the edge and text*/
        text-align: center;
        text-decoration:blue;
        display: inline-block;
    }
    
    a:hover, a:active {
        background-color: red;
    }
</style>